body {
    background-color: linen;
}

h1 {
    color: maroon;
}

table, th, td {
    border: 1px solid;
}

.bigger {
    color: blue;
    font-size: x-large;
}

.smaller{
    color: blue;
    font-size: large;
}

.column{
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}